<form id="loginForm">
    <label for="username">Username:</label><br>
    <input type="text" id="username" name="username">
    <br>
    <label for="password">Password:</label><br>
    <input type="password" id="password" name="password">
    <br><br>
    <input type="submit" value="Log In">
</form>

<!-- Invincible failure times as well-->
<!-- WE'RE gonna have an invincible create-uri button on successful login  use js to supply an href to it -->
<!-- Log-out button as well -->