<h1>Welcome <%= username %></h1>

<h2>Your URIs</h2>
<div><!-- divContainer -->
<% uriArray.forEach(function({short_code, original_url, is_expired, is_deleted}) { %>
    <% if(!deleted_at) { %>
    <div><!-- div(n) -->
        <div><%- short_code %></div>
        <div><%- original_url %></div>
        <button>DELETE</button>
        <% if(expires_at) { %>
            <button>MODIFY URI</button>
        <% } %>
        <% if(expires_at) { %>
            <button>REGENERATE URI</button>
        <% } %>
    </div>
    <% } %>
<% }) %>
<div>

<h2>Create new URI?</h2>
<form id="shortURISForm">
    <label for="longuri">Enter the URI you want to shorten here:</label><br>
    <textarea name="original_url" id="longuri"></textarea>
    <label for="privateuri">Private URL?</label>
    <input type="checkbox" name="privateURI" id="privateuri">
    <label for="">Expiry</label>
    <input type="submit" value="Create URI">
</form>