<h1>Welcome <%= username %></h1>

<h2>Your URIs</h2>
<div class="div_container"><!-- divContainer -->
<% uriArray.forEach(function({short_code, original_url, is_expired}) { %>
    
    <div class="uri_info_div"><!-- div(n) -->
        <div><%- short_code %></div>
        <div><%- original_url %></div>
        <button class="button uri_delete">DELETE</button>
        <% if(!is_expired) { %>
            <button class="button unexpired_uri_modification">MODIFY URI</button>
        <% } %>
        <% if(is_expired) { %>
            <button class="button expired_uri_regeneration">REGENERATE URI</button>
        <% } %>
    </div>
    
<% }) %>
<div>

<h2>Create new URI?</h2>
<form id="shortURISForm">
    <label for="original_uri">Enter the URI you want to shorten here:</label><br>
    <textarea name="original_url" id="original_uri"></textarea>
    <label for="is_private">Check box to make your URI private:</label>
    <input type="checkbox" name="is_private" id="is_private">
    <label for="expires_at">Expiry</label>
    <input type="datetime-local" name="expires_at" id="expires_at" min="<%= (() => {
        const now = new Date()
        now.setHours(now.getHours() + 1)
        const local = new Date(now.getTime()  - (now.getTimezoneOffset() * 60000))
        return local.toISOString().slice(0, 16)
    })() %>">
    <input type="submit" value="Create URI">
</form>