<html>
    <body>
        <form id="signupForm">
            <label for="username">Username:</label><br>
            <input type="text" id="username" name="username">
            <br>
            <label for="password">Password:</label><br>
            <input type="password" id="password" name="password">
            <br><br>
            <input type="submit" value="Sign Up">
        </form>
    </body>
    <script>
        document.getElementById('signupForm').addEventListener('submit', async function(event) {
            event.preventDefault();
            const username = document.getElementById('username').value;
            const password = document.getElementById('password').value;

            const response = await fetch('/sign-up', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ username, password })
            });

            if (response.ok) {
                alert('Signup successful!');
            } else {
                alert('Signup failed.');
            }
        });
    </script>
</html>